.tab {
    overflow: hidden;
   /* border: 1px solid #ccc;*/
   background-color: rgba(125, 125, 125, 0.25);
}

/* Style the buttons inside the tab */
.tab button {
     background-color: rgba(125, 125, 125, 0.25);
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
     display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;

* {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 33.33%;
    padding: 2px;
}

/* Clearfix (clear floats) */
.row::after {
    content: " ";
    clear: both;
    display: table;
}
.btn-default {
  font-family: Raleway-SemiBold;
  font-size: 13px;
  color: rgba(108, 88, 179, 0.75);
  letter-spacing: 1px;
  text-align: center;
  line-height: 15px;
  border: 5px solid rgba(108, 89, 179, 0.75);
  border-radius: 80px;
  background: transparent;
  transition: all 0.3s ease 0s;
/*  margin: 20px 0 0 ;*/
  padding: 20px 8px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    /*width: 50%; */
}

.btn-default:hover {
  color: #FFF;
  background: rgba( 179, 0.75,108, 88);
  border: 2px solid rgba(108, 89, 179, 0.75);
}
